@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
}



@layer base {
:root{
      /*  added from color generator  */
      --bg-default: #fff;
      --bg-base: #fcfcfc;
      --bg-bg-subtle: #f8f8f8;
      --bg-bg: #f3f3f3;
      --bg-bg-hover: #ededed;
      --bg-bg-active: #e8e8e8;
      --fg-line: #e2e2e2;
      --fg-border: #dbdbdb;
      --fg-border-hover: #c7c7c7;
      --fg-solid: #8f8f8f;
      --fg-solid-hover: #858585;
      --fg-text: #6f6f6f;
      --fg-text-contrast: #171717;
      --fg-default: #000;
    
    
      --primary-base: #fbfdff;
      --primary-bg-subtle: #f5faff;
      --primary-bg: #edf6ff;
      --primary-bg-hover: #e1f0ff;
      --primary-bg-active: #cee7fe;
      --primary-line: #b7d9f8;
      --primary-border: #96c7f2;
      --primary-border-hover: #5eb0ef;
      --primary-solid: #0091ff;
      --primary-solid-hover: #0081f1;
      --primary-text: #006adc;
      --primary-text-contrast: #00254d;
}

.dark{
  
    /*  added from color generator  */
    --bg-default: #000;
    --bg-base: #161616;
    --bg-bg-subtle: #1c1c1c;
    --bg-bg: #232323;
    --bg-bg-hover: #282828;
    --bg-bg-active: #2e2e2e;
    --fg-line: #343434;
    --fg-border: #3e3e3e;
    --fg-border-hover: #505050;
    --fg-solid: #707070;
    --fg-solid-hover: #7e7e7e;
    --fg-text: #a0a0a0;
    --fg-text-contrast: #ededed;
    --fg-default: #fff;
  
  
    --primary-base: #0f1720;
    --primary-bg-subtle: #0f1b2d;
    --primary-bg: #10243e;
    --primary-bg-hover: #102a4c;
    --primary-bg-active: #0f3058;
    --primary-line: #0d3868;
    --primary-border: #0a4481;
    --primary-border-hover: #0954a5;
    --primary-solid: #0091ff;
    --primary-solid-hover: #369eff;
    --primary-text: #52a9ff;
    --primary-text-contrast: #eaf6ff;
}
}



body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
}
.navbarbutton {
  border: none !important;
}

.Banner{
  background: linear-gradient(180deg, #53B9AB 0%, #25534D 100%) !important;
  border-top-left-radius: 24px ;
  border-top-right-radius: 24px ;

}
.download{
  background: linear-gradient(180deg, #53B9AB 0%, #25534D 100%) !important;

}
/* 
@media screen and (min-width: 1024px) {
  .Banner{
    border-top-left-radius: 56px ;
    border-top-right-radius: 56px ;
  }
  } */

.scrollbar{
  height:0px;
  width:0px;
}
.header-links :hover{
  color:#0D9B8A !important;
}
.select-hover :hover{
  background-color:var(--fg-text) ;
}