@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
}


body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
     /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;  /* IE and Edge */
          scrollbar-width: none;  /* Firefox */
    }
}
.navbarbutton {
  border: none !important;
}

.Banner{
  background: linear-gradient(180deg, #53B9AB 0%, #25534D 100%) !important;
  border-top-left-radius: 24px ;
  border-top-right-radius: 24px ;

}
.download{
  background: linear-gradient(180deg, #53B9AB 0%, #25534D 100%) !important;

}
/* 
@media screen and (min-width: 1024px) {
  .Banner{
    border-top-left-radius: 56px ;
    border-top-right-radius: 56px ;
  }
  } */

.scrollbar{
  height:0px;
  width:0px;
}
.header-links :hover{
  color:#0D9B8A !important;
}